/* hide arrows of input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

ul {
    list-style-type: none;
}

.teacher_table_class {
    background-color: rgb(226, 226, 226);
}

.selectpicker {
    background: rgb(90, 88, 88) !important;
    color: rgb(160, 12, 12) !important;
}
